@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

.cropper {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
}

input[type="radio"] {
  accent-color: #1895b0;
}

.btn {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  background: #1895b0;
  padding: 0.5rem 1.5rem;
  border-radius: 0.2rem;
  border: 2px solid #1895b0;
  cursor: pointer;
  margin: 1rem;
}

.aspect-ratios {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
}

.download-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ? "bg-gray-900 text-white"
                            : "text-gray-300 hover:bg-gray-700 hover:text-white",
                          "rounded-md px-3 py-2 text-sm font-medium" */
